<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.objectledge.maven.connectors.jflex.JFlexProjectConfigurator"
            id="org.objectledge.maven.connectors.jflex"
            name="m2e connector for maven-jflex-plugin">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
</plugin>