<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.objectledge.maven.connectors.javacc.JavaCCProjectConfigurator"
            id="org.objectledge.maven.connectors.javacc"
            name="m2e connector for javacc-maven-plugin:javacc">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.objectledge.maven.connectors.javacc.JJTreeJavaCCProjectConfigurator"
            id="org.objectledge.maven.connectors.jjtree-javacc"
            name="m2e connector for javacc-maven-plugin:jjtree-javacc">          
      </configurator>              
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
</plugin>